@font-face {
  font-family: "IBM Plex";
  src: url("./ibm-plex-font/IBMPlexSans-Regular.ttf");
  font-display: swap;
}

.pjs-postit-square {
  margin: 8px;
  width: 32px !important;
  height: 32px !important;
  background-color: #7fc844;
}

.pjs-postit-circle {
  margin: 8px;
  border-radius: 90px;
  width: 32px !important;
  height: 32px !important;
  background-color: #f46f60;
}

.djs-palette {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
}

.pjs-text-box:before {
  content: 'Abc';
  font-size: medium;
}

.pjs-group {
  margin: 6px;
  width: 32px !important;
  height: 32px !important;
  stroke-dasharray: 0.9 0.9;
  border-radius: 3px;
  border: 1px dashed black;
}

.pjs-color-entry-disabled {
  opacity: 0.1;
  cursor: not-allowed !important;
}

.pjs-color-entry-GREEN {
  background-color: #7EC845 !important;
}

.pjs-color-entry-PINK {
  background-color: #F46F60 !important;
}

.pjs-color-entry-ICE_BLUE {
  background-color: #B8D6F7 !important;
}

.pjs-color-entry-BLUE {
  background-color: #23BFE7 !important;
}

.pjs-color-entry-ORANGE {
  background-color: #FF9D48 !important;
}

.pjs-color-entry-YELLOW {
  background-color: #F5D128 !important;
}

.pjs-color-entry-BLACK {
  background-color: black !important;
}


