html, body, #canvas {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bottom-buttons {
  bottom: 20px;
  left: 20px;
}

.bottom-buttons a:hover {
  color: #555;
}

.bottom-buttons a.active {
  opacity: 1.0;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

/* screen interaction helpers & modal */

#io-dialog-main{
  display:none; /*default*/
}

#io-editing-tools-buttons {
  display: block;
  position:fixed;
  top:0px;
  right: 80px;
  list-style: none;
  padding: 5px;
  margin: 0;
}

#io-editing-tools-buttons button:hover {
    color: #333333;
}

.icon-keyboard {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-keyboard::before {
  content: '\f11c';
  display: inline-block;
  line-height: 1.2em;
}

.icon-resize-full {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-resize-full::before {
  content: '\f31e';
  display: inline-block;
}

.keybindings-dialog .binding {
	padding: 5px 10px;
	font-family: monospace;
}
