html, body, #canvas {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  display: inline-block;
  margin-right: 10px;
}
.buttons > li > a {
  color: black;
  background-color: #f8f8f8;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #cdcdcd;
}

.buttons a {
  opacity: 0.3;
  text-decoration: none;
}

.buttons a.active {
  opacity: 1.0;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.1);
}